.card {
  background-image: url(../../assets/images/card-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 20px;
  min-height: 150px;
  border-radius: 10px;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  flex-direction: column;
  justify-content: space-between;
}

.card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_top > span {
  font-size: 32px;
  font-weight: 700;
}
