.search-result {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin: 10px 0;
  font-family: sans-serif;
  border: 2px solid #ccc;
}

.search-result__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-result__time {
  font-size: 18px;
  cursor: pointer;
}

.search-result__time {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: gray;
}

.search-result__price {
  color: #2ecc71;
  font-weight: bold;
  font-size: 20px;
}

.search-result__route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 16px;
}

.search-result__city {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-result__city:last-child {
  justify-content: end;
}

.search-result__distance {
  font-size: 14px;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.search-result__distance .distance-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  width: 80%;
  overflow: hidden;
  text-align: center;
}

.search-result__distance .distance-center .distance-center-line {
  text-wrap: none;
  width: 100%;
  min-height: 10px;
  border-bottom: 2px dashed #7d7d7d;
  white-space: nowrap;
  overflow: hidden;
}

.search-result__details {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 10px;
  font-size: 13px;
  color: #8e8e8e;
  font-weight: 500;
}

.search-result__details span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.search-result__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 14px;
  gap: 3px;
}

.search-result__footer span {
  flex: 1;
}

.search-result__footer div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result__more {
  background-color: #f0f0f0;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  color: #5570eb;
  font-weight: 500;
  cursor: pointer;
}

.search-result__more:hover {
  background-color: #e0e0e0;
}

.search-result__more:active {
  background-color: #ddd8d8;
}

.search-result__cargo {
  font-weight: bold;
  display: flex;
  gap: 5px;
  font-size: 15px;
}

.search-result__company {
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.check-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.check-cont img {
  width: 18px;
  height: 18px;
}

.flag-icon {
  min-width: 20px !important;
  height: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  overflow: hidden;
}

:global(.activeBookmark) {
  background-color: red;
}