.select-container {
	position: relative;

	& select {
		width: 100%;
		height: 55px;
		padding: 12px 20px 12px 64px;
		border-radius: 8px;
		border: 2px solid #8e8d8d;
		font-size: 18px;
		font-weight: 600;
		background-color: white;
		color: rgb(43, 43, 43);
		outline-color: #ff922b;
		cursor: pointer;
	}
}

.icon {
	position: absolute;
	top: 50%;
	left: 16px;
	width: 40px;
	transform: translateY(-50%);
	font-size: 20px;
	color: #8e8d8d;
	display: flex;
	justify-content: center;
}
