.dropdown-container {
	position: relative;
}

.icon {
	position: absolute;
	top: 50%;
	left: 16px;
	width: 30px;
	transform: translateY(-50%);
	color: #8e8d8d;
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.input {
	width: 100%;
	padding: 12px 20px 12px 64px;
	border-radius: 8px;
	border: 2px solid #8e8d8d;
	font-size: 18px;
	font-weight: 600;
	background-color: white;
	color: rgb(43, 43, 43);
	outline-color: #ff922b;
}

.dropdown {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 2;
	background: #ffffff;
	border-radius: 6px;
	max-height: 240px;
	height: fit-content;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	box-shadow: #8e8d8d 0 10px 10px;
	border: 1px solid #8e8d8d;
}

.dropdown-content {
	display: flex;
	padding: 10px 12px;
	height: 50px;
	align-items: center;
	column-gap: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.dropdown-content:hover {
	background: #0033cc;
	color: white;
}

.image-container {
	width: 30px;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.name {
	font-weight: 600;
	font-size: 18px;
}
